.reports-table-scrollable {
  scrollbar-width: thin;
  scrollbar-color: #707070 #171717;
}

.reports-table-scrollable::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.reports-table-scrollable::-webkit-scrollbar-track {
  background: #262626;
  border-radius: 4px;
}

.reports-table-scrollable::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 4px;
}

.reports-table-scrollable::-webkit-scrollbar-thumb:hover {
  background: #262626;
}

/* Column width classes for table alignment */
.col-checkbox {
  width: 60px;
}
.col-emergency-id {
  width: 100px;
}
.col-community-name {
  width: 120px;
}
.col-alert-type {
  width: 120px;
}
.col-dispatcher {
  width: 110px;
}
.col-datetime {
  width: 150px;
}
.col-accomplished {
  width: 150px;
}
.col-address {
  width: 200px;
}
.col-actions {
  width: 100px;
}
